:root{
    --vermelho:#e50914;
    --preta:#141414;
}

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background:var(--preta);
    font-family: 'Times New Roman', Times, serif;
    color:#fff;
}

header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header .logo{
    margin-left:5px;
    color:var(--vermelho);
    font-family:'Arial Black',Times;
    font-size: 40px;
}

header nav a{
    text-decoration: none;
    color:#aaa;
    margin-right: 10px;
}

header nav a:hover{
    color:#fff;
}

/* Filme Principal */

.filme-principal{
    font-size: 16px;
    background: linear-gradient(rgba(0,0,0,.5),rgba(0,0,0,.5) 100%), url('../img/capa.jpg');
    height: 400px;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 5px;
}

.titulo{
    margin-top: 15%;
    font-size: 40px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

.filme-principal .descricao{
    margin-top: 10px;
    margin-bottom: 40px;

}

.btn {
    background-color: rgba(0,0,0,.5);
    border:none;
    color:#fff;
    padding: 15px 30px;
    margin-right: 15px;
    font-size: 12px;
    cursor: pointer;
    transition: .3s ease all;
    border-radius: 20px;
    text-align: center;
    vertical-align: middle;
}
.btn i{
    margin-right: 8px;
    font-size: 15px;
}

.btn:hover{
    color: #141414;
    background-color:#fff;
}
.container{
    margin-left: 30px;
    margin-right: 10px;
}

.filme-principal .container{
    width: 70%;
}

.box-filme{
    height: 100%;
    width: 100%;
    display: block;
}

.carrocel-filmes{
    margin-top: 5px;
}